#gammaCont {
    display: block;
    border-left: 1px solid white;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 0;
    width: auto;
    max-height: 94vh;
    cursor: grab;
    overflow-y: auto;
}

#gammaCont p {
    color: white;
}