#gammaCont {
    display: block;
    border-left: 1px solid white;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 0;
    width: auto;
    max-height: 94vh;
    cursor: grab;
    overflow-y: auto;
}

#gammaCont h4 {
    color: white;
    font-family: Poppins, sans-serif;
}

#gammaCont p {
    color: white;
    font-size: 12px;
    font-family: Poppins, sans-serif;
}

#curveCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#editCont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}