#gammaCont {
    display: block;
    border-left: 1px solid white;
    background-color: rgb(94, 94, 94);
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 0;
    width: auto;
    max-height: 94vh;
    /* cursor: grab; */
    overflow-y: auto;
}

#gammaCont h4 {
    color: white;
    font-family: Poppins, sans-serif;
}

#gammaCont h5 {
    color: #c3c3c3;
    font-family: Poppins, sans-serif;
}

#gammaCont p {
    color: rgb(221, 221, 221);
    font-size: 12px;
    font-family: Poppins, sans-serif;
}

#curveCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tone p {
    width: 50px;
}

#chanels p {
    width: 50px;
}

#calibration p {
   width: 50px; 
}

#calibTitle {
    text-align: center;
}

#editCont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

input {
    color: rgb(0, 0, 0);
    width: auto;
    min-width: 200px;
}

.sliders {
    -webkit-appearance: none;
    height: 2px;
    background: #c3c3c3;
    cursor: pointer;
}

#redSlider {
    -webkit-appearance: none;
    height: 2px;
    background: #ff0000;
    cursor: pointer;
}

#greenSlider {
    -webkit-appearance: none;
    height: 2px;
    background: #33ff00;
    cursor: pointer;
}

#blueSlider {
    -webkit-appearance: none;
    height: 2px;
    background: #0004ff;
    cursor: pointer;
}

#shadowsTint {
    background: linear-gradient(to right, #33ff00, #ff00c6);
}

#redHSlider {
    background: linear-gradient(to right, #ff00c6, #ff4500, #ffee00);
}

#orangeHSlider {
    background: linear-gradient(to right, #ff2600, #ff7300, #ffd000);
}

#yellowHSlider {
    background: linear-gradient(to right, #ff0000, #ffee00, #5eff00);
}

#greenHSlider {
    background: linear-gradient(to right, #009900, #00ff6a, #d0ff00);
}

#aquaHSlider {
    background: linear-gradient(to right, #00ccff, #00ffee, #00ff6a);
}

#blueHSlider {
    background: linear-gradient(to right, #0011ff, #0066ff, #00ccff);
}

#purpleHSlider {
    background: linear-gradient(to right, #800080, #d000ff, #ff00c6);
}

#magentaHSlider {
    background: linear-gradient(to right, #ff00c6, #ff0077, #ff2600);
}

#redHue {
    background: linear-gradient(to right, #ff0055, #ff5e00);
}

#redSat {
    background: linear-gradient(to right, #292424, #ff0055);
}

#greenHue {
    background: linear-gradient(to right, #d0ff00, #00ff6a);
}

#greenSat {
    background: linear-gradient(to right, #292424, #d0ff00);
}

#blueHue {
    background: linear-gradient(to right, #00aeff, #8400ff);
}

#blueSat {
    background: linear-gradient(to right, #292424, #00aeff);
}